<div class="container">
    <p>Direktiv</p>

    <p appDirektiv="red" fontWeight="bold" [any]="{}">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

</div>









<!--<app-blank (perOutputa)="metpriema($event)"-->
<!--&gt;</app-blank>-->

<!--<hr>-->

<!--<app-spis *ngFor="let per of massiv" [nuwPer]="per" (perRemOut)="remT($event)">-->
<!--    <small *ngIf="per.name.length > 4; else short"> длинное Имя </small>-->
<!--    <ng-template #short>-->
<!--        <small> короткое имя</small>-->
<!--    </ng-template>-->
<!--</app-spis>-->
