<div class="container">
    <h1>Angular HttpClient</h1>

    <div class="card">
        <div class="form-control">
          <input type="text" placeholder="Название" [(ngModel)]="newPerTodoTitle">
        </div>
        <button class="btn" (click)="addTodo()">Добавить</button>
        <button class="btn" (click)="fetchTodo()">Загрузить</button>
    </div>

    <hr>

    <div *ngIf="!loading; else loadingBlock">
        <div *ngIf="perMasTodo.length; else noTodo">
            <div class="card" *ngFor="let ngF of perMasTodo">
                <p>
                    <span [class.completed]="ngF.completed">{{ngF.title | titlecase}}</span>
                    <span>
                      <button class="btn btn-danger" (click)="remuveTodo(ngF.id)">Удалить</button>
                      <button class="btn" [disabled]="ngF.completed" (click)="completeTodo()">Завершить</button>
                    </span>
                </p>
            </div>
        </div>
        <ng-template #noTodo>
           <p> ...нет элементов </p>
        </ng-template>
    </div>
    <ng-template #loadingBlock>
        <p>...loading</p>
    </ng-template>
</div>

