<p appStyle = "red" [dSt]="{border: '1px solid blue', borderRadius: '5px' }">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, voluptatum.</p>
<p appStyle = "pink" [dSt]="{border: '10px solid yellow', borderRadius: '15px' }">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, voluptatum.</p>

<button class="btn" (click)="flag = !flag">кнопка</button>
<!--<div *ngIf="flag" class="wrap">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--</div>-->

<!--<ng-template [ngIf]="flag">-->
<!--<div  class="wrap">-->
<!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--</div>-->
<!--</ng-template>-->

<div  class="wrap" *appNd="!flag">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

